<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bible/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container d-flex justify-content-center">
    <div>
     <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/ce3b776fd515502ca81efe76/60028-Converted.png" alt=""
         class="u-image u-image-contain u-image-default u-image-1" data-image-width="411" data-image-height="393">
    </div>

</div>
</body>
</html>