<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Біблія - читати онлайн</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'bible/style.css' %}">
</head>

<body>
    <div class="content">
        <div class="content_header">
            <span>{{book_name}}</span>
        </div>

        <div class="content_buttons">
            <a href="/bible/{{book}}/{{prev_page}}"><button class="content_buttoms_button" {% if not prev_page %} disabled {% endif %}>Попередній розділ</button></a>
            <a href="/bible/{{book}}/{{next_page}}"><button class="content_buttoms_button" style="margin-left: 10px;" {% if not next_page %} disabled {% endif %}>Наступний розділ</button></a>
        </div>
        <div class="content_verses">
            {% block content %} {% endblock %}
        </div>
    </div>

    <dialog class="modal" id="modal">
        <div class="modal_content">
         <form style="width: 100%; display: flex; flex-direction: column;">
            {% csrf_token %}
            <textarea rows="25" name="note_text" id="note_text"></textarea>
            <div style="width: 100%; display: flex; flex-direction: row;">
                <input type="button" uuid=0 value="Submit" id="submit" onclick="customSubmit(this)">
                <input type="reset" value = "Reset">
                <input type="button" onclick="hideModal()" value="Close">
            </div>
         </form>
        </div> 
    </dialog>

<script>
$(document).ready(() => {
    objs = document.querySelectorAll(".click_no_propagation");
    objs.forEach(obj => {
        obj.addEventListener("click", (event)=>{
            event.stopPropagation();
        })
    });
})


function openModal(obj, uuid){
    var csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    var submit_btn = document.querySelector("#submit");
    submit_btn.setAttribute('uuid', uuid)
    $.ajax({
        type: 'post',
        url: "{% url 'bible:ajaxreadnote' %}",
        data: {csrfmiddlewaretoken: csrf, 'uuid': uuid},
        cache:true,
        success: function(response) {
            var textarea = document.getElementById("note_text");
            textarea.value = response.result;
            submit_btn.code = response.uuid;
            var modal = document.querySelector("#modal");
            modal.showModal();
            textarea.scrollTop = 0;
        }
    })
}

function hideModal(){
    document.querySelector("#note_text").value = '';
    document.querySelector("#modal").close();
}

function customSubmit(){
    var text = document.querySelector("#note_text");
    var btn = document.querySelector("#submit");
    var csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    $.ajax({
        type:'post',
        url: "{% url 'bible:ajaxwritenote' %}",
        data: {'text': text.value, 'uuid':btn.getAttribute('uuid'), csrfmiddlewaretoken: csrf},
        success:function(response){
            console.log(response.text);
        }
    });
    hideModal();
}
</script>
</body>

</html>