<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Біблія - читати онлайн</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'bible/style.css' %}">
</head>

<body>
    <nav>
        {% if not user %}
        <a href="{% url 'users:login' %}"><button>Увійти</button></a>
        <a href="{% url 'users:signup' %}"><button>Реєстрація</button></a>
        {% endif %}
        {% if user %}
        <a href="{% url 'users:logout' %}"><button>Вийти&#160&#160<b>{{user.username}}</b></button></a>
        {% endif %}
    </nav>
    {% block header %} {% endblock %}
    
    <main>
        {% block content %} {% endblock %}
    </main>

    <dialog id="modal">  
            {% csrf_token %}
            <header>
                <span id="modal_verse_text"></span>
                <i class="material-icons" onclick="hideModal()">close</i>
            </header>
            <textarea rows="25" name="note_text" id="note_text" placeholder="без коментара"></textarea>
            <nav class="dialog_nav">
                <input type="button" uuid=0 value="Зберегти зміни" id="submit" onclick="customSubmit(this)">
                <input type="button" onclick="undoDeleteText(scope='undo')" value="Відмінити зміни">
                <input type="button" onclick="undoDeleteText(scope='delete')" value = "Видалити все">
            </nav>
    </dialog>

<script>
var undoVerseText = null;

$(document).ready(() => {
    objs = document.querySelectorAll(".click_no_propagation");
    objs.forEach(obj => {
        obj.addEventListener("click", (event)=>{
            event.stopPropagation();
        })
    });
})


function openModal(obj, uuid){
    const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    var submit_btn = document.querySelector("#submit");
    var text = document.querySelector("#modal_verse_text");
    var verseText = obj.childNodes[3].childNodes[1].innerHTML;
    // verseText = verseText.replace(/<(a|s|b).{1,25}>/g,'');
    text.innerHTML = verseText;
    submit_btn.setAttribute('uuid', uuid)
    $.ajax({
        type: 'post',
        url: "{% url 'bible:ajaxreadnote' %}",
        data: {csrfmiddlewaretoken: csrf, 'uuid': uuid},
        cache:true,
        success: function(response) {
            var textarea = document.getElementById("note_text");
            textarea.value = response.result;
            undoVerseText = response.result;
            submit_btn.code = response.uuid;
            var modal = document.querySelector("#modal");
            modal.showModal();
            modal.style.display = 'flex';
            textarea.focus();
            textarea.scrollTop = 0;
        }
    })
}

function hideModal(){
    textarea = document.querySelector("#note_text");
    textarea.style.width = '';
    textarea.style.height = '';
    resetModal();
    modal.close();
}

function customSubmit(){
    var text = document.querySelector("#note_text");
    var btn = document.querySelector("#submit");
    var csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    $.ajax({
        type:'post',
        url: "{% url 'bible:ajaxwritenote' %}",
        data: {'text': text.value, 'uuid':btn.getAttribute('uuid'), csrfmiddlewaretoken: csrf},
        success:function(response){
            console.log(response.text);
        }
    });
    hideModal();
}
function undoDeleteText(scope){
    var text = document.querySelector("#note_text");
    if (scope == 'undo'){
        text.value = undoVerseText;
    } else {
        text.value = "";
    }
}

function resetModal() {
    modal = document.querySelector("#modal");
    modal.style.display = "none";
    modal.style.width = '';
    modal.style.height = '';
}
</script>
</body>

</html>