{% extends "bible/base.html" %}
{% block header %}
<header class="page-header">
    <span>{{book_name}}</span>
</header>
<nav>
    <a href="/bible/{{book}}/{{prev_page}}"><button class="content_buttoms_button" {% if not prev_page %} disabled {% endif %}>Попередній розділ</button></a>
    <a href="/bible/{{book}}/{{next_page}}"><button class="content_buttoms_button" {% if not next_page %} disabled {% endif %}>Наступний розділ</button></a>
</nav>
{%endblock %}
{% block content %}
{% autoescape off %}
{% for verse in verses %}
<section onclick="openModal(this, {{verse.id}})"> # noqa
    <div class="click_no_propagation">
        <span>{{verse.chapter}}:{{verse.verse}}</span>
    </div>
    <div class="click_no_propagation">
        <span>{{verse.text}}</span>
    </div>
    {% if user %}
    <div>
        <i class="material-icons">edit</i>
    </div>
    {% endif %}
</section>
{% endfor %}
{% endautoescape %}
{% endblock %}


