{% extends "bible/base.html" %}
{% block content %}
{% autoescape off %}
{% for verse in verses %}
<div class="row" onclick="openModal(this)">
    <div class="row_verse_number click_no_propagation">
        <span>{{verse.chapter}}:{{verse.verse}}</span>
    </div>
    <div class="row_verse_text click_no_propagation">
        <span>{{verse.text}}</span>
    </div>
    <div class="row_note_icon">
        <i class="material-icons">edit_note</i>
    </div>
</div>
{% endfor %}
{% endautoescape %}
{% endblock %}


