{% extends "bible/base.html" %}
{% block content %}
{% autoescape off %}
{% for verse in verses %}
<section class="row" onclick="openModal(this, uuid={{verse.id}})">
    <div class="row_verse_number click_no_propagation">
        <span>{{verse.chapter}}:{{verse.verse}}</span>
    </div>
    <div class="row_verse_text click_no_propagation">
        <span>{{verse.text}}</span>
    </div>
    {% if user.is_authenticated %}
    <div class="row_note_icon">
        <!-- <i class="material-icons">edit</i> -->
        <span>Коментар</span>
    </div>
    {% endif %}
</section>
{% endfor %}
{% endautoescape %}
{% endblock %}


